@charset "utf-8";
*{padding:0; margin:0;}
html, body {height: 100%; background: #21aec0;}
html, body {font: 20px/1.5 "Helvetica Neue", Helvetica, Microsoft Yahei, STHeiTi, sans-serif; color:#fff;}

@font-face {font-family: 'weather';
    src: url('../font/weather.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/weather.woff') format('woff'), /* chrome、firefox */
    url('../font/weather.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/weather.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.today {padding: 50px 0; font-size: 0.8rem; color: #80deea; text-align: center; letter-spacing: 2px;}
.today strong {display: block; font-size: 1.5rem; color: #9fe653; line-height: 2;}

.ico {display: inline-block; color: #fff; font-style: normal; font-family: "weather"; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.ico_sun:before {content: "\e600";}
.ico_day_cloudy:before {content: "\e605";}
.ico_night_cloudy:before {content: "\e602";}
.ico_rain_s:before {content: "\e601";}
.ico_rain_m:before {content: "\e604";}
.ico_rain_h:before {content: "\e603";}
.ico_thunder:before {content: "\e606";}
.ico_thunder_rain:before {content: "\e607";}
.ico_thunder_rain_h:before {content: "\e608";}

.today_weather {margin-bottom: 50px; line-height: 1.1; text-align: center;}
.today_weather .ico {width: 100%; height: 200px; font-size: 180px; text-align: center;
	animation-name: flipInX;
	animation-duration:1s;
	animation-delay:1s;
	-webkit-animation-name: flipInX;
	-webkit-animation-duration:1s;
	-webkit-animation-delay:1s;
	animation-fill-mode: both;
}

.future {display:-webkit-box; display:box; padding: 0 30px 10px;}
.future dl {position: relative; box-flex: 1; -webkit-box-flex:1; height: 200px; text-align: center;}
.future dt {font-size: 0.6rem;}
.future span {position: absolute; left: 0; bottom: 0; width: 100%; font-size: 0.6rem;}
.future .ico {font-size: 1.5rem;}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}